<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>servelets.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVote</servlet-name>
        <servlet-class>servelets.AddVote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReply</servlet-name>
        <servlet-class>servelets.AddReply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMessage</servlet-name>
        <servlet-class>servelets.AddMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddPost</servlet-name>
        <servlet-class>servelets.AddPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPost</servlet-name>
        <url-pattern>/AddPost.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>servelets.CreateAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginProcess</servlet-name>
        <servlet-class>servelets.LoginProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginProcess</servlet-name>
        <url-pattern>/LoginProcess.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servelets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVote</servlet-name>
        <url-pattern>/AddVote.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReply</servlet-name>
        <url-pattern>/AddReply.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMessage</servlet-name>
        <url-pattern>/AddMessage.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
